{% extends 'store/base.html' %}
{% load static %}

{% block title %}Game Hut{% endblock %}

{% block content %}
<!-- Hamburger Menu -->
<div class="hamburger_menu">
	<div class="hamburger_close">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="hamburger_menu_content text-right">
		<ul class="menu_top_nav">

		</ul>
	</div>
</div>

<div class="container contact_container">
	<div class="row">
		<div class="col">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="{% url 'store:index' %}">Home</a></li>
					<li class="active"><a href="{% url 'store:contact' %}"><i class="fa fa-angle-right"
								aria-hidden="true"></i>Contact</a></li>
				</ul>
			</div>

		</div>
	</div>
	<!-- Contact Us -->
	<div class="row">
		<div class="col-lg-12 contact_col">
			<div class="contact_contents">
				<h1>Contact Us</h1>
				<p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose
					what suits you the most.</p>
				<div>
					<p>(800) 686-6688</p>
					<p>gamehut@gmail.com</p>
				</div>
				<div>
					<p>24/7 Available support</p>
				</div>
			</div>
			<!-- Follow Us -->
			<div class="follow_us_contents">
				<h1>Follow Us</h1>
				<ul class="social d-flex flex-row">
					<li><a href="https://www.facebook.com" style="background-color: #3a61c9"><i
								class="fab fa-facebook"></i></a></li>
					<li><a href="https://www.twitter.com" style="background-color: #41a1f6"><i
								class="fab fa-twitter"></i></a></li>
					<li><a href="https://www.youtube.com" style="background-color: #ff0000"><i
								class="fab fa-youtube"></i></a></li>
					<li><a href="https://www.instagram.com" style="background-color: #E1306C"><i
								class="fab fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}