{% extends 'store/base.html' %}
{% load static %}

{% block title %}Game Hut{% endblock %}

{% block content %}
<!-- Slider -->
<div class="main_slider">
	<div id="transparent">

	</div>
	<div id="slider">

	</div>
	<div class="progress">
		<div id="progressBar">
			
		</div>
	</div>
</div>

<div class="banner">
	<div class="container">
		<div class="row d-flex justify-content-between flex-column" id="new">
			<div class="col-12 pl-0 pb-3">
				<h5>New releases</h5>
			</div>
			<div class="col-12 p-0">
				<div id="newReleases">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner">
	<div class="container">
		<div class="row d-flex justify-content-between flex-column">
			<div class="col-12 pl-0 pb-3">
				<h5>Hot Sales</h5>
			</div>
			<div class="col-12 p-0">
				<div id="hotSales">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="new_arrivals mt-4 pl-3 pr-3">
	<div class="container">
		<div class="row">
			<div class="col-12 pl-0 pb-3">
				<h5>Exclusive offers </h5>
			</div>
		</div>
		<div class="row align-items-center" id="box">
			<div class="deal_ofthe_week">

			</div>
		</div>
	</div>
</div>
<div class="banner">
	<div class="container">
		<div class="row d-flex justify-content-between flex-column">
			<div class="col-12 pl-0 pb-3">
				<h5>Top sellers</h5>
			</div>
			<div class="col-12 p-0">
				<div id="topSellers">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="benefit" style="background: #2c2c2c; padding: 4rem 0px;">
	<div class="container p-3 p-sm-0">
		<div class="row">
			<div class="col">
				<h1 class="text-center colorH1Span">Discover <span
						class="text-uppercase font-weight-bold">game</span><span
						class="text-uppercase font-weight-bold">Hut</span></h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-6 discover d-flex justify-content-center align-items-center flex-column-reverse text-center">
				<a href="{% url 'store:shop' %}"><button type="button" id="btnDiscover">DISCOVER
						MORE</button></a>
				<h1 class="game mt-5 mt-md-0">IT IS <span>GAME</span><span></span> TIME!</h1>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
	function confirmDelete() {
		$('#deleteConfirmModal').modal({
			backdrop: 'static',
			keyboard: false,
			show: true
		});

		// Ensure dropdown stays open
		$('.dropdown-toggle').dropdown('toggle');

		// Handle modal hide
		$('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
			$('.dropdown-toggle').dropdown('toggle');
		});
	}
</script>
{% endblock %}