{% extends 'store/base.html' %}
{% load static %}

{% block title %}Game Hut{% endblock %}

{% block content %}
<!-- Slider -->
<div class="main_slider">
	<div id="transparent">

	</div>
	<div id="slider">

	</div>
	<div class="progress">
		<div id="progressBar">

		</div>
	</div>
</div>

<div class="banner">
	<div class="container">
		<div class="row d-flex justify-content-between flex-column" id="new">
			<div class="col-12 pl-0 pb-3">
				<h5>New releases</h5>
			</div>
			<div class="col-12 p-0">
				<div id="newReleases" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 pl-0">
					{% for game in new_releases %}
					<div class="card mb-3 col">
						{% if user.is_authenticated %}
						<div data-id="{{ game.game_id }}" data-toggle="tooltip" data-placement="top" title="Add to cart"
							class="favorite d-flex justify-content-center align-items-center">
							<i class="fas fa-cart-plus"></i>
						</div>
						{% endif %}
						<a href="{% url 'store:single' game.game_id %}" class="openSingle"
							data-id="{{ game.game_id }}" style="position: relative;">
							{% if game.discount_code %}
							<div class="ribbon"><span>SALE!</span></div>
							{% endif %}
							<img src="{{ game.cover_image }}" alt="{{ game.title }}" class="card-img-top" width="250px"
								height="375px">
							<div class="card-body">
								<h5 class="card-title">{{ game.title }}</h5>
								<ul class="card-info">
									<li class="text-muted developer">{{ game.developer }}</li>
									<li class="price">
										{% if game.discount_code %}
										<span class="badge">-{{ game.discount_code.discount_percentage }}%</span>
										<s class="text-muted"><i class="fas fa-dollar-sign"></i>{{ game.price }}</s>
										<span><i class="fas fa-dollar-sign"></i>{{ game.discounted_price }}</span>
										{% else %}
										<i class="fas fa-dollar-sign"></i>{{ game.price }}
										{% endif %}
									</li>
								</ul>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner">
	<div class="container">
		<div class="row d-flex justify-content-between flex-column">
			<div class="col-12 pl-0 pb-3">
				<h5>Hot Sales</h5>
			</div>
			<div class="col-12 p-0">
				<div id="hotSales" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 pl-0">
					{% for game in hot_sales %}
					<div class="card mb-3 col">
						{% if user.is_authenticated %}
						<div data-id="{{ game.game_id }}" data-toggle="tooltip" data-placement="top" title="Add to cart"
						class="favorite d-flex justify-content-center align-items-center add-to-cart">
						<i class="fas fa-cart-plus"></i>
						</div>
					{% endif %}
						<a href="{% url 'store:single' game.game_id %}" class="openSingle"
							data-id="{{ game.game_id }}" style="position: relative;">
							{% if game.discount_code %}
							<div class="ribbon"><span>SALE!</span></div>
							{% endif %}
							<img src="{{ game.cover_image }}" alt="{{ game.title }}" class="card-img-top" width="250px"
								height="375px">
							<div class="card-body">
								<h5 class="card-title">{{ game.title }}</h5>
								<ul class="card-info">
									<li class="text-muted developer">{{ game.developer }}</li>
									<li class="price">
										{% if game.discount_code %}
										<span class="badge">-{{ game.discount_code.discount_percentage }}%</span>
										<s class="text-muted"><i class="fas fa-dollar-sign"></i>{{ game.price }}</s>
										<span><i class="fas fa-dollar-sign"></i>{{ game.discounted_price }}</span>
										{% else %}
										<i class="fas fa-dollar-sign"></i>{{ game.price }}
										{% endif %}
									</li>
								</ul>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="new_arrivals mt-4 pl-3 pr-3">
	<div class="container">
		<div class="row">
			<div class="col-12 pl-0 pb-3">
				<h5>Exclusive offers </h5>
			</div>
		</div>
		<div class="row align-items-center" id="box">
			<div class="deal_ofthe_week" style="height: auto;">
				<div class="row">
					<div class="col-lg-6">
						<div class="deal_ofthe_week_img">
							<img src="{% static 'images/deal_week_guy.png' %}" class="img-fluid" alt="guy1880">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner">
	<div class="container">
		<div class="row d-flex justify-content-between flex-column">
			<div class="col-12 pl-0 pb-3">
				<h5>Top sellers</h5>
			</div>
			<div class="col-12 p-0">
				<div id="topSellers" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 pl-0">
					{% for game in top_sellers %}
					<div class="card mb-3 col">
						{% if user.is_authenticated %}
						<div data-id="{{ game.game_id }}" data-toggle="tooltip" data-placement="top" title="Add to cart"
							class="favorite d-flex justify-content-center align-items-center">
							<i class="fas fa-cart-plus"></i>
						</div>
						{% endif %}
						<a href="{% url 'store:single' game.game_id %}" class="openSingle"
							data-id="{{ game.game_id }}" style="position: relative;">
							{% if game.discount_code %}
							<div class="ribbon"><span>SALE!</span></div>
							{% endif %}
							<img src="{{ game.cover_image }}" alt="{{ game.title }}" class="card-img-top" width="250px"
								height="375px">
							<div class="card-body">
								<h5 class="card-title">{{ game.title }}</h5>
								<ul class="card-info">
									<li class="text-muted developer">{{ game.developer }}</li>
									<li class="price">
										{% if game.discount_code %}
										<span class="badge">-{{ game.discount_code.discount_percentage }}%</span>
										<s class="text-muted"><i class="fas fa-dollar-sign"></i>{{ game.price }}</s>
										<span><i class="fas fa-dollar-sign"></i>{{ game.discounted_price }}</span>
										{% else %}
										<i class="fas fa-dollar-sign"></i>{{ game.price }}
										{% endif %}
									</li>
								</ul>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="benefit" style="background: #2c2c2c; padding: 4rem 0px;">
	<div class="container p-3 p-sm-0">
		<div class="row">
			<div class="col">
				<h1 class="text-center colorH1Span">Discover <span
						class="text-uppercase font-weight-bold">game</span><span
						class="text-uppercase font-weight-bold">Hut</span></h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-6 discover d-flex justify-content-center align-items-center flex-column-reverse text-center">
				<a href="{% url 'store:shop' %}"><button type="button" id="btnDiscover">DISCOVER
						MORE</button></a>
				<h1 class="game mt-5 mt-md-0">IT IS <span>GAME</span><span></span> TIME!</h1>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'js/cart.js' %}"></script>
<script>
	function confirmDelete() {
		$('#deleteConfirmModal').modal({
			backdrop: 'static',
			keyboard: false,
			show: true
		});

		// Ensure dropdown stays open
		$('.dropdown-toggle').dropdown('toggle');

		// Handle modal hide
		$('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
			$('.dropdown-toggle').dropdown('toggle');
		});
	}
</script>
{% endblock %}