{% extends 'store/base.html' %}
{% load static %}

{% block title %}Game Hut{% endblock %}

{% block content %}
<!-- Hamburger Menu -->
<div class="hamburger_menu">
	<div class="hamburger_close">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="hamburger_menu_content text-right">
		<ul class="menu_top_nav">

		</ul>
	</div>
</div>

<div class="container breadcrumbs_container">
	<div class="row">
		<div class="col">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="{% url 'store:index' %}">Home</a></li>
					<li class="active"><a href="{% url 'store:shop' %}"><i class="fa fa-angle-right"
								aria-hidden="true"></i>Store</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row m-0">
		<div class="col-12" id="store-banner">
			<img src="{% static 'images/store_banner.png' %}" class="img-fluid" alt="guy_with_hat_tipping">
			<div>
				<h1>Browse our store!</h1>
				<h4>Check out our new releases and best deals!</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row m-0">
		<div class="col-12 col-lg-3 p-0 mt-0 mt-lg-3" id="filter-wrapper">
			<div id="filter">
				<span id="filterBg" class="d-flex justify-content-between align-items-center p-3">
					<span>Filters</span>
					<i class="fas fa-sliders-h"></i>
				</span>
				<div id="price-container" class="d-block">
					<span class="d-flex justify-content-between align-items-center p-3 hoverFilter" id="priceToggle">
						<span>Price</span>
						<span class="circ d-flex justify-content-center align-items-center"><i
								class="fas fa-chevron-up"></i></span>
					</span>
					<div class="pt-2" id="priceRange">
						<div class="slidecontainer mx-auto">
							<form action="" method="GET">
								<input type="range" min="0" max="60" value="0" class="slider" id="priceFrom">
								<label for="priceFrom" id="labelMin">Min: <i class="fas fa-dollar-sign"></i> <output
										id="from">0</output></label>
								<input type="range" min="0" max="60" value="60" class="slider" id="priceTo">
								<label for="priceTo" id="labelMax">Max: <i class="fas fa-dollar-sign"></i> <output
										id="to">60</output></label>
							</form>
						</div>
					</div>
				</div>
				<div id="categories-container" class="d-block">
					<span id="filterCat" class="d-flex justify-content-between align-items-center p-3 hoverFilter">
						<span>Categories</span>
						<span class="circ d-flex justify-content-center align-items-center">
							<i class="fas fa-chevron-up"></i>
						</span>
					</span>
					<ul class="whiteChb" id="categoryChb">
						<div class="p-3">
							{% for category in categories %}
							<li class="d-flex align-items-center justify-content-start">
								<label for="{{ category }}" class="customChb w-100"> {{ category }}
									<input type="checkbox" id="{{ category }}" value="{{ category }}"
										name="categories[]">
									<span class="checkmark"></span>
								</label>
							</li>
							{% endfor %}
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-12 pr-0 pl-0 pl-lg-3 col-lg-9">
			<div id="sortBy"
				class="row m-0 d-flex justify-content-lg-between justify-content-between align-items-center pt-md-3 pb-3">
				<div class="col-12 col-lg-5 p-0 mb-3 mt-3 mb-lg-0 mt-lg-0 col">
					<input type="text" name="search" id="search" placeholder="Search by name" class="p-3">
				</div>
				<div class="col-12 col-md p-0 mb-3 mb-md-0 px-lg-3 px-0"> <select id="numberOfProducts"
						name="numberOfProducts" class="p-3 w-100 form-control h-100"
						aria-label="Number of products per page">
						<option value="6">Items per page: 6</option>
						<option value="9">Items per page: 9</option>
						<option value="12">Items per page: 12</option>
					</select>
				</div>
				<div class="col-12 col-md p-0 mb-3 mb-md-0 px-md-3 px-lg-0 ">
					<div id="sortBtn-wrapper">
						<select name="sorting" id="sort" class="p-3 w-100 form-control h-100" aria-label="Sort by">
							<option value="0">Sort by:</option>
							<option value="nameASC">Name: A-Z</option>
							<option value="nameDESC">Name: Z-A</option>
							<option value="priceDESC">Price: High to Low</option>
							<option value="priceASC">Price: Low to High</option>
						</select>
					</div>
				</div>
				<div id="filter-small" class="col d-lg-none d-block p-0">

				</div>
			</div>
			<div id="products" class="row row-cols-2 row-cols-md-3">
				{% for game in games %}
				<div class="card mb-3 col">
					{% if user.is_authenticated %}
					<div data-id="{{ game.game_id }}" data-toggle="tooltip" data-placement="top" title="Add to cart"
					class="favorite d-flex justify-content-center align-items-center add-to-cart">
					<i class="fas fa-cart-plus"></i>
					</div>

					{% endif %}
					<a href="{% url 'store:single' game.game_id %}" class="openSingle" data-id="{{ game.game_id }}"
						style="position: relative;">
						{% if game.discount_code %}
						<div class="ribbon"><span>SALE!</span></div>
						{% endif %}
						<img src="{{ game.cover_image }}" alt="{{ game.title }}" class="card-img-top" width="250px"
							height="375px">
						<div class="card-body">
							<h5 class="card-title">{{ game.title }}</h5>
							<ul class="card-info">
								<li class="text-muted developer">{{ game.developer }}</li>
								<li class="price">
									{% if game.discount_code %}
									<span class="badge">-{{ game.discount_code.discount_percentage }}%</span>
									<s class="text-muted"><i class="fas fa-dollar-sign"></i>{{ game.price }}</s>
									<span><i class="fas fa-dollar-sign"></i>{{ game.discounted_price }}</span>
									{% else %}
									<i class="fas fa-dollar-sign"></i>{{ game.price }}
									{% endif %}
								</li>
							</ul>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="col-12 d-flex justify-content-center align-items-center p-4" id="pag">
				{% load store_filters %}
				<ul class="d-flex flex-row" id="pagination">
					{% for page_num in total_pages|get_range %}
					<li class="pagination-item mr-2 {% if page_num == current_page %}active-pag{% endif %}"
						id="pag-{{ page_num }}">{{ page_num }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="upcoming" style="background: #2c2c2c; padding: 4rem 0px;">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title">
					<h5>Upcoming releases</h5>
				</div>
			</div>
		</div>
		<div class="row coming-soon">

		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock extra_js %}
