{% extends 'store/base.html' %}
{% load static %}

{% block title %}Game Hut{% endblock %}

{% block content %}
<!-- Hamburger Menu -->
<div class="hamburger_menu">
	<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
	<div class="hamburger_menu_content text-right">
		<ul class="menu_top_nav">

		</ul>
	</div>
</div>

<div class="container breadcrumbs_container">
	<div class="row">
		<div class="col">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="{% url 'store:index' %}">Home</a></li>
					<li><a href="{% url 'store:shop' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Store</a>
					</li>
					<li class="active"><a href="#" id="name"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container mb-3">
	<div class="row" id="logo-game-container">
	</div>
</div>
<!-- SCREENSHOTS SECTION -->
<div class="container">
	<div class="row">
		<div class="col-12 col-md-4 col-lg-3">
			<h5>Gameplay screenshots</h5>
		</div>
		<div class="col-12 col-md-8 col-lg-9 mb-3" id="slika">

		</div>
	</div>
</div>
<!-- ABOUT GAME -->
<div class="container">
	<div class="row">
		<div class="col-12 col-md-4 col-lg-3">
			<h1 id="gameName">About </h1>
		</div>
		<div class="col-12 col-md-8 col-lg-9 mb-3">
			<ul class="d-flex flex-wrap flex-column p-3" id="about">

			</ul>
			<div id="infoText" class="p-3">
			</div>
		</div>
	</div>
</div>
<!-- SYSTEM REQUIREMENTS -->
<div class="container">
	<div class="row" id="sysReq">
		<div class="col-12 col-md-4 col-lg-3 text-light">
			<h5>System requirements</h5>
		</div>
		<div class="col-12 col-md-8 col-lg-9">
			<div class="row px-3">
				<div class="col-12 m-0 p-0">
					<h6 class="p-3 mb-3 borderBot d-inline-block reqOutput">Windows</h6>
				</div>
				<div class="col-12 col-sm pt-4 reqOutput">
					<h6 class="mb-4">Minimum requirements</h6>
					<ul id="minimum">

					</ul>
				</div>
				<div class="col-12 col-sm pt-4 reqOutput">
					<h6 class="mb-4">Recommended requirements</h6>
					<ul id="recommended">

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}